<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- css -->
  <link rel="stylesheet" href="css/style.css">
  <!-- Vue -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- Luxon -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/luxon/3.3.0/luxon.min.js' integrity='sha512-KKbQg5o92MwtJKR9sfm/HkREzfyzNMiKPIQ7i7SZOxwEdiNCm4Svayn2DBq7MKEdrqPJUOSIpy1v6PpFlCQ0YA==' crossorigin='anonymous'></script> 
  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Boolzapp</title>
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
  

<div id="app">

  <div class="container">

    <main>

      <aside>
        <!-- user -->
        <div class="user">
          <div class="user-info">
            <img src="img/avatar_io.jpg" alt="avatar">
            <div class="name">Sofia</div>
          </div>

          <!-- icon -->
          <div class="icon">
            <i class="fa-solid fa-circle-notch"></i>
            <i class="fa-solid fa-message"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
          
        </div>

        <!-- notification -->
        <div class="notification">
          <i class="fa-solid fa-bell-slash"></i> 
          <div class="text">
            <div>Ricevi notifiche di nuovi messaggi</div>
            <div>Attiva notifiche desktop</div>
          </div>
        </div>

        <!--input search -->
        <div class="search">
          <button>
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          <input v-model="searchName" type="text" placeholder="Cerca o inizia una nuova chat">
          <div v-for="contact in searchContacts"></div>
        </div>

        <!-- list contacts -->
        <div class="contacts">

          <ul>

            <li  v-for="(contact, index) in searchContacts " @click="contactClicked(index)">
              <img :src="contact.avatar" alt="avatar">
              <div class="info">
                <div class="row">
                  <div>{{contact.name}}</div>
                  <div class="date">{{contact.messages[contact.messages.length-1].hour}}
                  </div>
                </div>
                <div class="row">
                  <span>{{contact.messages[contact.messages.length-1].message}}</span>
                  <div>{{contact.messages[contact.messages.length-1].date}}</div>
                </div>
              </div>
            </li>

          </ul>

          
        </div>
      </aside>



      <div class="right-side">

        <!--contacts-last-login-->
        <div class="contacts-last-login">
          <div class="contact">
            <img :src="contacts[counter].avatar" alt="avatar">

            <div class="info">
              <div>{{contacts[counter].name}}</div>
              <div>Ultimo accesso il {{contacts[counter].messages[contacts[counter].messages.length - 1].date}} alle {{clock}}</div>
            </div>

          </div>

          <div class="icon">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-paperclip"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>

        </div>


        <!-- sms -->
        <div class="container-sms">

          <div class="sms" v-for="(message,index) in (contacts[counter].messages)" :class="message.status">
            <span>{{message.message}} </span>
            <span class="date">
              {{message.hour}} 
              <i class="fa-solid fa-chevron-down" style="color: #c0c0c0;"></i>
            </span>

            <ul class="dropdown-menu">
              <li>
                Info messaggio
              </li>

              <li @click="deleteMessage(index)">
                Elimina messaggio
              </li>
            </ul>
          </div>

        </div>

        <!-- input text sms -->
        <div class="input-area">
          <i class="fa-regular fa-face-smile"></i>
          <input @keyup.enter="newMySms()" v-model.trim="myMessage" type="text" placeholder="Scrivi un messaggio">

          <i class="fa-solid fa-microphone"></i>
        </div>
      </div>

    </main>

  </div>

</div>



  <script src="js/script.js"></script>
</body>
</html>