/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Karla', sans-serif;
  background: rgb(217,219,212);
  background: linear-gradient(0deg, rgba(217,219,212,1) 80%, rgba(0,150,136,1) 80%); 
  height: 100vh;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

/*MAIN*/
main{
  width: 80%;
  height: 800px;
  display: flex;
}

.user, .interlocutor{
  background-color: #EAEAEA;
  height: 80px;
  border: 1px solid #D3D3D3;
}

/*ASIDE*/
aside{
  background-color: #FFFFFF;
  width: 250px;
}

/*RIGHT SIDE*/
.right-side{
  background-image: url('../img/mine.jpg');
  width: calc(100% - 250px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.input-area{
  background-color:#FFFFFF ;
  height: 80px;
  border: 1px solid #D3D3D3;
}