/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Karla', sans-serif;
  background: rgb(217,219,212);
  background: linear-gradient(0deg, rgba(217,219,212,1) 80%, rgba(0,150,136,1) 80%); 
  height: 100vh;
}